<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceNAVSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WebServiceNAVSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.250.217/NAVServices/WebServiceNAV.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceNAVSoap"
                contract="NavSoapWebService.WebServiceNAVSoap" name="WebServiceNAVSoap" />
            <endpoint address="http://192.168.250.217/NAVServices/WebServiceNAV.asmx"
                binding="customBinding" bindingConfiguration="WebServiceNAVSoap12"
                contract="NavSoapWebService.WebServiceNAVSoap" name="WebServiceNAVSoap12" />
        </client>
    </system.serviceModel>
	<appSettings>
		    <add key="ServiceExecutionDailyCommencementTime" value="10:00;" />
		    <!-- Service is meant to run from mondays to sundays. However, there are days you may wish to exclude. Use semi-colon to separate days -->
		    <!-- Format of the values: Monday; Tuesday; Wednesday; Thursday; Friday; Saturday; Sunday; -->
		    <add key="DaysToExclude" value="monday" />
	</appSettings>
	<connectionStrings>
		<add name="DatahubConnection" connectionString="Server=192.168.250.218;Database=DATAHUB;Persist Security Info=True;User ID=Uridium; Password=Uridium@123"/>
	</connectionStrings>
</configuration>